body {
 background-color: lightgray;
}

#main-table {
 position:relative;
 top: 15%;
 left: 6%;
 border-collapse: collapse;
 text-align: center;
 padding: 15px;
}
#main-form {position:relative;
top: 35%;
left: 6%;
border-collapse: collapse;
text-align: center;
padding: 15px;
}

td:nth-child(odd){
  background-color: silver;
  color: white;
  font-weight: bold;
}


#table-title {
  position:relative;
  top: 4%;
  border: 5px solid black;
  text-align: center;
}

input {
  margin: 6px;
  padding: 9px;
  font-size: 12px;
}

td{
 border: 1px solid black;
 padding: 6px;
}
